*.iml
/.idea
*.o
/obj
#/Makefile
#/invoice/config/
/Invoicedevkit/Invoice2017/Annotations2
/Invoicedevkit/Invoice2017/JPEGImages_rect/
/Invoicedevkit/Invoice2017/JPEGImages_rec2/
/Invoicedevkit/Invoice2017/JPEGImages/
/Invoicedevkit/Invoice2017/JPEGImages2/
/Invoicedevkit/Invoice2017/labels/
/Invoicedevkit/Invoice2017/ImageSets/




/InvoiceChardevkit/InvoiceChar2017/Annotations2
/InvoiceChardevkit/InvoiceChar2017/JPEGImages_rect/
/InvoiceChardevkit/InvoiceChar2017/JPEGImages_rec2/
/InvoiceChardevkit/InvoiceChar2017/JPEGImages/
/InvoiceChardevkit/InvoiInvoiceChar2017ce2017/JPEGImages2/
/InvoiceChardevkit/InvoiceChar2017/labels/
/InvoiceChardevkit/InvoiceChar2017/ImageSets/


2017*
darknet
predictions.png
predict_list.txt